extends ../layout

block content
    a(href='/bicycles') Back
    br
    br
    br

    h1 Updating Bicycle
    br
    br
    form(action=`/bicycles/${ bicycle.code }/update` method='post')
        .container
            .form-group
                label(for='code') Code
                input#code.form-control(type='number' name='code' value=bicycle.code)
            .form-group
                label(for='color') Color
                input#color.form-control(type='text' name='color' value=bicycle.color)
            .form-group
                label(for='model') Model
                input#model.form-control(type='text' name='model' value=bicycle.model)
            .form-group
                    label(for='lat') Latitude
                    input#lat.form-control(type='text' name='lat' value=bicycle.location[0]  )
            .form-group
                label(for='lng') Longitude
                input#lng.form-control(type='text' name='lng' value=bicycle.location[1])
                button.btn.btn-primary(type='submit' value='OK') Submit

                //- if bicycle.location.length === 0 

                //-     .form-group
                //-         label(for='lat') Latitude
                //-         input#lat.form-control(type='text' name='lat' value=bicycle.location[0]  )
                //-     .form-group
                //-         label(for='lng') Longitude
                //-         input#lng.form-control(type='text' name='lng' value=bicycle.location[1])
                //-         button.btn.btn-primary(type='submit' value='OK') Submit

                //- else

                //-     .form-group
                //-         label(for='lat') Latitude
                //-         input#lat.form-control(type='text' name='lat' value=''  )
                //-     .form-group
                //-         label(for='lng') Longitude
                //-         input#lng.form-control(type='text' name='lng' value='' )
                //-         button.btn.btn-primary(type='submit' value='OK') Submit